$background-color: #ffffff;
$background-elements: #EEEEEE;
$text-color: #000000;
$accent-main: #D92929;
$accent-second: #f7772d;
$background-color: linear-gradient(to right, rgba(59, 38, 179, 0.92) 0%, rgb(79, 32, 172, 0.92) 26%, rgb(93, 28, 170, 0.92) 51%, rgb(98, 27, 169, 0.92) 76%, rgb(110, 23, 166, 0.92) 100%);