.pc-header {
  font-family: 'Montserrat', sans-serif;
  padding-top: 25px;

  .customCol {
    display: flex;
    align-items: center;
  }

  .text-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: flex-end;

    a {
      color: #fcc808;
      text-decoration: none;
    }

    p:first-of-type {
      display: flex;
      justify-content: space-between;
      margin-bottom: 0;
      color: #fcc808;
      font-size: 42px;
      font-weight: 700;
      line-height: 54px;
      text-transform: uppercase;

      .logo {
        font-weight: 800;
        letter-spacing: 1.85px;
      }
    }

    p:last-of-type {
      padding-left: 20px;
      margin: 0;
      color: #dad8f3;
      font-weight: 300;
      font-size: 16px;
      letter-spacing: 1.36px;
      padding-bottom: 5px;
    }
  }

  .search {
    width: 100%;
    //padding: 2px 20px;
    input {
      width: 100%;
      padding: 2px 20px;
      border: 1px solid rgba(172, 172, 172, 0.33);
      border-radius: 15px;
      -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
      -moz-box-sizing: border-box; /* Firefox, other Gecko */
      box-sizing: border-box;
      margin-bottom: 0;
      color: white;
    }

    input::placeholder {
      color: #d4d4d4;
    }

    img {
      cursor: pointer;
      position: absolute;
      top: 17.5px;
      right: 35px;
      width: 20px;
    }

    svg {
      background-color: #b9b9b9;
    }
  }

  .auth {
    width: 100%;
    font-size: 15px;
    display: flex;
    justify-content: flex-end;
    color: #ffffff;

    div {
      cursor: pointer;
    }

    span:first-child {
      color: #f3d14c;
      padding-right: 40px;
    }
  }
}