@import "../../scss/common/colors";
@import "../../scss/common/screen";
@import "../../scss/common/variables";
@import "../../scss/common/mixins";

.order {
  height: 100%;

  hr {
    margin: 0 -15px;
  }

  .chosen-star {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

  .chosen-star__info {
    text-align: center;
    background-size: cover !important;
    background-position: center center !important;
    background-repeat: no-repeat !important;
    height: 100%;

    .header {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .header-top {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 25px 15px 0;
        color: white;

        span {
          font-size: 16px;
        }

        img {
          width: 25px;
          height: 20px;
        }

        img:last-child {
          height: 25px;
        }
      }

      .header-bottom {
        display: flex;
        flex-direction: column;
        color: white;
        align-items: center;
        padding-bottom: 60px;

        span {
          color: #d4d7e6;
        }

        .likes {
          padding-top: 35px;

          img {
            width: 23px;
          }

          span {
            color: white;
            font-size: 14px;
          }
        }
      }
    }
  }

  .order__details {
    background-color: white;
    padding: 0 15px;
    width: 100%;
    text-align: center;

    .price {
      font-size: 20px;
      border-radius: 52px;
      box-shadow: 0 2px 4px rgba(0, 0, 0, 0.16);
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      padding: 6px 8px;
      position: relative;
      top: -25px;
      background-color: white;

      .text {
        display: flex;
        flex-direction: column;

        span:first-child {
          color: #434353;
          font-weight: 700;
        }

        span:last-child {
          color: #787882;
        }
      }

      .priceTag {
        display: block;
        background-color: #f3d14c;
        border-radius: 44px;
        padding: 11px;
        margin-bottom: 0;
      }

      img {
        width: 12.5%;
      }

    }

    .rating {
      padding-top: 17.5px;
      padding-bottom: 20px;
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      img {
        width: 35%;
        padding-right: 6px;
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      p {
        margin-bottom: 5px;
        font-size: 14px;
        color: #a2a1b8;
      }

      svg {
        color: #fcc808;
        margin: 0 2.5px;
        border-color: #fcc808;
      }

      svg:first-of-type {
        margin-left: 0;
      }
    }

    .await-time {
      padding: 20px 0;
      display: flex;
      justify-content: space-between;

      img {
        width: 15%;
        padding-right: 5px;
      }

      div {
        display: flex;
        flex-direction: row;
        align-items: center;
      }

      span {
        font-size: 14px;
        margin-left: 7px;
        color: #a2a1b8;
      }

      .days {
        font-size: 16px;
        font-weight: 400;
        color: black;
      }
    }

    .place-order {
      padding-top: 30px;
      padding-bottom: 30px;

      p {
        margin-bottom: 0;
        margin-top: 10px;
        color: #a2a1b8;
      }

      button {
        font-weight: 700;
        color: white;
        width: 100%;
        border: 0;
        border-radius: 45px;
        padding: 13.5px 0;
        background-image: linear-gradient(to left, #001f77 0%, #0a1162 51%, #070b3a 100%);
      }
    }
  }

  @media screen and (max-width: 425px) {
    span, p {
      font-size: 12px;
    }
    h5 {
      font-size: 14px;
    }
  }

}