.policy-wrapper {
  font-family: 'Montserrat', sans-serif;
  color: white;
  h1 {
    padding-top: 40px;
    padding-bottom: 20px;
  }
  h3 {
    padding-top: 20px;
  }
  div {
    padding-top: 20px;
    strong {
      font-weight: 800;
    }
  }

}