@import "../../../scss/common/colors";
@import "../../../scss/common/screen";
@import "../../../scss/common/variables";
@import "../../../scss/common/mixins";

.ReactModalPortal {

  font-family: 'Montserrat', sans-serif;

  p {
    color: white;
  }

  .modal-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    border-bottom: 0;
    padding-top: 0;

    .header-text {
      font-weight: 700;
      font-size: 16px;
    }

    .close-btn {
      background-color: transparent !important;
      background-image: none !important;
      color: gray;
      margin-top: 0;
      padding: 0;
      position: relative;
      right: -115px;
      top: -10px;

      img {
        width: 15px;
      }
    }
  }

  .pc-modal-header {
    display: flex;
    //justify-content: center;
    color: black;
    position: relative;
    padding-bottom: 20px;

    .header-text {
      font-weight: 800;
      font-size: 28px;
    }

    .close-btn {
      position: absolute;
      right: 0;
      //background-color: #fcc808;
      padding: 5px;
      border-radius: 10px;
      cursor: pointer;

      img {
        width: 20px;
      }
    }
  }

  button {
    margin-top: 20px;
    border: 0;
    color: white;
    border-radius: 26px;
    background-color: #2e3a46;
    padding: 10px 40px;
    //text-transform: uppercase;
    font-size: 10px;
    font-weight: bold;
    background-image: linear-gradient(to left, #001f77 0%, #0a1162 51%, #070b3a 100%);
  }

  .spread {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;

    input {
      text-align: center;
      color: white;
    }

    .pc-signInButton {
      margin: 20px 0;
      color: rgb(20, 20, 20);
      border-radius: 10px;
      padding: 10px 40px;
      background-color: #fcc808;
      cursor: pointer;
      border: 1px solid #fcc808;
    }

    .field {
      display: flex;
      justify-content: space-between;
      width: 100%;
      padding: 15px 0;
      border-bottom: 1px solid #cdcdcd;
      font-size: 16px;
      align-items: center;

      .field-name {
        font-weight: 700;
      }
    }

    .btn-wrapper {
      padding-top: 15px;
      width: 100%;
      display: flex;
      justify-content: space-between;

      .accept {
        font-size: 16px;
        padding: 10px 35px;
        background-image: none;
        background-color: #f3d14c;
        color: black;
        border-radius: 10px;
      }

      .decline {
        font-size: 16px;
        color: black;
        padding: 10px 35px;
        background-image: none;
        background-color: transparent;
        border-radius: 10px;
        border: 1px solid #141414;
      }
    }
  }

}

.star-card {
  background-color: white;
  //padding: 15px 15px 13px 15px;
  padding: 10px;
  margin-bottom: 15px;
  border-radius: 15px;
  color: white;
  display: flex;
  align-items: center;
  overflow: hidden;
  font-family: 'Montserrat', sans-serif;

  .avatar-img {
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    width: 110px;
    border-radius: 65px;
    height: 110px;
  }

  .star-info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0 0 25px;
    font-size: 12px;

    span:nth-child(2) {
      font-weight: 200;
    }

    .star-description {
      padding-bottom: 10px;
    }

    .star-stats {
      display: flex;
      justify-content: space-between;
      flex-direction: row;

      .star-stats__likes {
        display: flex;
        flex-direction: column;
        align-items: center;

        span:first-of-type {
          font-weight: 700;
          font-size: 14px;
        }
      }
    }
  }

  .orders {
    //width: 100%;
    position: relative;
    margin-left: auto;
    margin-right: -11px;
    margin-bottom: -15px;
    width: 56px;

    img {
      width: 100%;
    }
  }

  .orders-amount {
    display: flex;
    flex-direction: column;
    position: absolute;
    margin-left: auto;
    margin-right: 15px;
    right: 0;
    bottom: 38px;
    font-size: 10px;

    span:first-of-type {
      font-weight: 700;
      font-size: 14px;
    }
  }
}