@import "../../../scss/common/colors";
@import "../../../scss/common/screen";
@import "../../../scss/common/variables";
@import "../../../scss/common/mixins";

a:hover {
  color: white;
  text-decoration: none;
}

.category-card {
  display: block;
  border-radius: 25px;
  overflow: hidden;
  color: white;
  margin-bottom: 15px;
  box-shadow: 0 2px 10px rgba(118, 110, 110, 0.46);


  .img-card {
    position: relative;
    margin-left: auto;
    margin-right: -5px;
    margin-top: -5px;
    width: 65px;

    img {
      width: 100%;
    }
  }

  .category-card__description {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    span {
      padding-left: 20px;
      padding-bottom: 10px;
    }
  }

  .category-card__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20px;
    padding-bottom: 20px;

  }

  @media screen and (max-width: 425px) {
    span, p {
      font-size: 12px;
    }
    h5 {
      font-size: 14px;
    }
  }
}
