@import "src/scss/variables";
@import "src/scss/mixins";
@import "src/scss/screen";



.submit-form-first {
  margin-top: 1.5rem;
  box-shadow: 0 20px 60px rgba(199, 150, 61, 0.3);
  border-radius: 16px;
  background-image: linear-gradient(-30deg, #ae7213 0%, #e5ca79 100%);
  border: none;
  text-transform: uppercase;
  color: $colorMainWhite;
  font-weight: 700;
  font-size: 1em;
  letter-spacing: 1.8px;
  width: 70%;
  transition-duration: 0.3s;
  @include pya(1.25rem);

  &:hover {
    background-image: linear-gradient(-30deg, #ae7213 20%, #e5ca79 80%);
    transition-duration: 0.3s;
  }

  @include sm-max {
    font-size: 0.75em;
  }
}

.for-registered {
  margin-top: 1rem;
  margin-bottom: -1rem;
  p {
    margin-bottom: 0;
  }
  a {
    color: $colorMainGold;
  }
}