@import "../../scss/common/colors";
@import "../../scss/common/screen";
@import "../../scss/common/variables";
@import "../../scss/common/mixins";

.confirm {
  height: 100%;
  .col-lg {
    padding: 0;
  }
  .row {
    margin: 0;
  }
  .container {
    padding: 0;
  }
  h3 {
    text-align: center;
    color: white;
    font-weight: bold;
    margin-bottom: 20px;
    font-size: 26px;
  }
  img {
    width: 35%;
    border-radius: 65px;
    height: 100%;
  }

  .chosen-star {
    height: 100%;
    width: 100%;
    background: $background-color;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }

  .chosen-star__info {
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    //height: 100%;
  }

  .order__details {
    padding: 30px 0;
    background-color: white;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
    width: 100%;
    text-align: center;
    .price {
      padding-top: 30px;
      font-size: 20px;
      padding-bottom: 20px;
      p {
        margin-bottom: 0;
        strong {
          font-size: 30px;
        }
      }

    }
    p:first-child {
      font-size: 16px;
    }

    .confirm__inputs {
      input {
        width: 65%;
        margin: 10px 0;
        border-radius: 20px;
        border: 1px solid #3d25b2;
        padding: 7.5px 20px;

      }
      textarea {
        width: 76%;
        margin: 10px 0;
        border-radius: 20px;
        border: 1px solid #3d25b2;
        padding: 7.5px 20px;
      }
    }
    .place-order {
      button {
        font-weight: bold;
        color: white;
        width: 65%;
        border: 0;
        border-radius: 20px;
        padding: 7px 0;
        background-image: linear-gradient(to right, #3b26b3 0%, #4f20ac 26%, #5d1caa 51%, #621ba9 76%, #6e17a6 100%);
      }
    }
  }

}