.filter {
  width: 100%;
  padding: 0 15px;
  font-family: 'Montserrat', sans-serif;

  .filter__wrapper {
    position: relative;
    #input_img {
      position: absolute;
      top: 11px;
      right: 30px;
      width: 20px;
    }

    input {
      background-color: #ededf7;
      text-align: center;
      width: 100%;
      border-radius: 45px;
      border: 1px solid #dbdbdb;
      font-size: 14px;
      //padding: 5px 0;
      margin-bottom: 15px;
    }

    input:focus {
      border-bottom: 1px solid #dbdbdb !important;
      box-shadow: 0 1px 0 0 #dbdbdb !important;
    }
  }

}