.button-group {
  width: 100%;
  padding: 0 15px 15px;
  color: #051a67;

  .btn-group__wrapper {
    border-radius: 25px;
    background-color: #ededf7;
    display: flex;
    justify-content: space-between;

    .filter-button {
      font-weight: 200;
      padding: 15px 15px;
      height: auto;
      background-color: transparent;
      border-color: transparent;
    }

    .filter-button:active {
      background-color: #041b71;
      border-radius: 35px;
      color: white;
    }

    .filter-button:focus {
      outline: none;
    }
  }

}

.active {
  color: white;
  background-color: #041b71 !important;
  border-radius: 35px;
}